<ng-container *transloco="let t; read: 'speech-to-text'">
  <!-- Video and Captions Container -->
  <div class="video-container">
    <video #videoElement autoplay muted></video>
    <!-- Webcam feed -->
    <div class="captions">{{ transcribedText }}</div>
    <!-- Captions overlay -->
  </div>

  <!-- Record Button -->
  @if (!supportError) {
    <ion-button
      class="circle-icon"
      fill="clear"
      shape="round"
      color="dark"
      (click)="isRecording ? stop() : start()"
      [attr.aria-label]="t(isRecording ? 'stop' : 'start')"
      [matTooltip]="t(isRecording ? 'stop' : 'start')"
      [matTooltipPosition]="matTooltipPosition">
      <ion-icon [name]="isRecording ? 'stop-circle-outline' : 'mic-outline'" slot="icon-only" color="primary" />
    </ion-button>
  } @else {
    <ion-button
      class="circle-icon"
      fill="clear"
      shape="round"
      color="medium"
      [attr.aria-label]="t(supportError)"
      [matTooltip]="t(supportError)"
      [matTooltipPosition]="matTooltipPosition">
      <ion-icon name="mic-off-outline" slot="icon-only" />
    </ion-button>
  }
</ng-container>
